.logo img {
  max-height: 100%;
}

.copyright img {
  max-height: 100px;
}

.contact-details {
  padding-bottom: 5%
}

.organisation {
  font-family: "Anaheim", sans-serif !important;
}

/*=================================================================
  HeroArea banner section
==================================================================*/
.welcome-img {
  max-width: 50em;
  max-height: 100%;
  padding: 2em;
  width: 100%;
}

.welcome-partner {
  margin-top: 2em;
}

.welcome-partner img {
  max-width: 10em;
}

.welcome-partner .iut {
  margin-left: 10%;
  margin-right: 10%;
}

/*=================================================================
  MapBox section
==================================================================*/
.mapbox svg {
  fill: #44A648;
}

.mapbox #map-canvas {
  height: 400px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content a {
  color : #44A648;
}

/*=================================================================
  Partners section
==================================================================*/
.partner-block {
  padding: 60px 20px;
  border: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 40px;
  box-shadow: 5px 7px 5px rgba(44, 44, 44, 0.3);
  min-height: 318px
}

.partner-block .service-icon {
  margin-bottom: 10px;
  font-size: 50px;
}

.brandLogo {
  max-width: 15em;
  max-height: 10em;
}


/*=================================================================
  Challenge section
==================================================================*/
.challenge .content-block {
  padding: 40px;
}

.challenge .content-block .media {
  margin-top: 25px;
  text-align: center;
}

.challenge .content-block .media i {
  font-size: 30px;
  color: #44A648;
}

.challenge .content-block .media h4 {
  font-size: 16px;
  font-weight: 600;
}

.challenge .content-block h2 {
  text-align: center;
}

.challenge .content-block h2 + p {
  text-align: center;
}

.challenge .date {
  text-align: center;
  padding-top: 1%;
}

.challenge .date h4 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2%;
}

.challenge .date .btn {
  color: #afbac4;
}

.challenge .date .btn:hover {
  color: white;
}


/*=================================================================
  prize section
==================================================================*/
.prize .block {
  background: #242930;
  padding: 30px;
  border-bottom: 2px solid transparent;
  transition: .5s all;
  margin-bottom: 20px;
  color: white;
  height: 500px;
}

.prize .block:hover {
  border-bottom: 2px solid #44A648;
}

.prize .prize-img {
  width: 100%;
  height: auto;
  max-height: 250px;
  max-width: 225px;
}

.block_organisation{
  text-align: center;
}

.organisation {
  color : white;
  font-size: 30px;
}

.ctf_title {
  font-size: 60px;
  font-weight: bold;
}

.title_partenariat{
  padding-bottom: 10px;
}

.partenariat {
  margin-bottom: 30px;
}
